/* The icon in the header */
.trigger {
    padding: 0 24px;
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    /* height: 32px; */
    /* width: 32px; */
    /* margin: 16px; */
    /* background: rgba(255, 255, 255, 0.3); */
    margin-left: 20px;
    font-size: 36px;
    color:#fff;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }